.footerContainer {
    color: var(--colour-black-03);
    font-size: 13px;
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
    @media screen and (min-width: 768px) {
        padding: 3rem;
    }
    &Border {
        padding: 1.5rem;
        border-top: 1px solid var(--colour-black-03);
        // &:before {
        //     content: "";
        //     position: absolute;
        //     top: 0;
        //     left: .75rem;
        //     height: 1px;
        //     width: calc(100% - 1.5rem);
        //     background-color: var(--colour-black-03);
        // }
    }

    a {
        &:hover {
            text-decoration: underline;
        }
    }
}