.request {
    padding: 5rem 0;
    background-image: url('/images/form-bg.jpg');
    background-size: cover;
    background-position: center;
    h2 {
        @media screen and (min-width: 768px) {
            font-size: 45px;   
        }
    }
}

.input {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 5px;
    color: var(--colour-black-00);
}

.requestLabel {
    color: var(--colour-black-00);
    @media screen and (max-width: 767px) {
        font-size: 14px;
    }
    input {
        margin-right: 5px;
    }
    a {
        &:hover {
            text-decoration: underline;
        }
    }
}

.formMessages {
    color: var(--colour-white-00);
}

.submitBtn {
    color: var(--colour-white-00);
    // font-family: var(--roboto-flex);
    font-family: var(--open-sans);
    font-weight: 500;
    background-color: var(--colour-orange-00);
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
    padding: 10px 20px;
    // font-weight: 800;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    cursor: pointer;
    transition: all .3s ease;
    @media screen and (max-width: 767px) {
        width: 100%;
    }
    &:hover {
        background-color: var(--colour-white-00);
        color: var(--colour-orange-00);
    }
}