.stationeryImageWrap {
    width: 100%;
    img {
        width: 100%;
        height: auto;
    }
}

.filesWrap {
    background-color: var(--colour-white-01);
    .assetsBtn {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700;
        color: var(--colour-black-03);
    }

    ul {
        li {
            cursor: pointer;
            &:hover {
                span {
                    text-decoration: underline;
                }
            }
            span {
                color: var(--colour-black-03);
                font-size: 13px;
            }
        }
    }
}