.fontsImageWrap {
    margin-bottom: 25px;
    width: 100%;
    img {
        width: 100%;
        height: auto;
    }
}

.assetsBtn {
    text-transform: uppercase;
    letter-spacing: 2px;
    // font-weight: 700;
}