.heroWrapper {
    padding-top: 10rem;
    padding-bottom: 3rem;
}

.joinWrapper {
    padding: 20px 20px 10px;
    border: 1px solid var(--colour-white-00);
    border-radius: 5px;
    a {
        text-decoration: underline;
    }
}