.tabsNav {
    overflow: scroll;
    li {
        padding: 10px 20px;
        border: 1px solid var(--theme-color-00);
        background-color: transparent;
        color: var(--colour-white-00);
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 13px;
        font-weight: 100;
        cursor: pointer;
        margin-left: -1px;
        white-space: nowrap;
        &.tabNavActive {
            background-color: var(--colour-orange-00);
        }
        &:hover:not(.tabNavActive) {
            opacity: .9;
        }
        &:first-child {
            margin-left: 0;
        }
    }
}

.assetImageWrap {
    margin-bottom: 25px;
    width: 100%;
    text-align: right;
    img {
        max-width: 100%;
        height: auto;
    }
}

.assetsBtn {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
}

.filesWrap {
    h5 {
        cursor: pointer;
    }
}

.iframeWrapper {
    position: relative; 
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;
    width: 100%;
    height: auto;
    iframe,
    object,
    embed,
    > div,
    video { 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}