.signatureForm {
    margin-top: 20px;
    input {
        width: 100%;
        margin-bottom: 10px;
        padding: 5px 10px;
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, .5);
        color: var(--colour-white-00);
        font-weight: 15px;
        outline: none !important;
        &::placeholder {
            color: var(--colour-white-00);
            opacity: .5;
        }
    }
}

.emailSignatureWrap {
    table {
        color: var(--colour-black-00);
    }
}

.copySignatureWrap {
    background-color: var(--colour-grey-01);
    max-height: 155px;
    overflow: hidden;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        z-index: 1;
        background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 0%, #D9D9D9 72.92%);
    }
    code {
        font-size: 14px;
        color: var(--colour-black-02);
    }
}

.bbCopyCode {
    background-color: var(--colour-white-00);
    border-radius: 0px 0px 5px 5px;
    span {
        font-weight: 800;
        color: var(--colour-black-02);
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 0.14em;
        cursor: pointer;
    }
}