:root {
  --text-colour:       #ffffff;
  --background-colour: #313131;
  --theme-color-00:    #ffffff;
  --theme-nav-00:      #231F20;

  --colour-black-00:   #313131;
  --colour-black-01:   #393939;
  --colour-black-02:   #000000;
  --colour-black-03:   #231F20;
  --colour-dark:   #231F20;
  --colour-black-04:   #131111;
  --colour-white-00:   #ffffff;
  --colour-light:   #ffffff;
  --colour-white-01:   #F8F8F8;
  --colour-white-02:   #F1F1F1;
  --colour-grey-00:    #888888;
  --colour-grey-01:    #D9D9D9;
  --colour-grey-02:    #434343;
  --colour-grey-03:    #494949;
  --colour-grey-04:    #747474;
  --colour-grey-05:    #C0C0C0;
  --colour-grey-06:    #BDBDBD;
  --colour-orange-00:  #F9592C;
  --colour-blue-00:    #B4C6E5;
  --colour-green-00:   #43FDBA;
  --colour-green-01:   #07E494;
  --colour-green:   #07E494;
  --colour-purple:  #F43793;
  --colour-blue:    #4BBCC9;
  --colour-yellow:    #E8C219;

  --border-colour:   var(--colour-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-colour:      #313131;
    --background-colour:#ffffff;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--open-sans);
  font-weight: 100;
}

body {
  color: var(--colour-black-03);
  /* background-color: var(--colour-black-00); */
}

h1,
h2,
h3,
h4,
h5 {
  /* font-family: var(--open-sans);
  font-weight: 100; */
  font-family: var(--anton);
}
h2 {
  font-size: 35px;
  line-height: 42px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 1px;
  }
}
h3 {
  font-weight: 100;
  /* letter-spacing: 1px; */
}
/* h4 {
  letter-spacing: 1px;
} */
h5 {
  font-size: 13px;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

p {
  font-size: 16px;
  font-family: var(--open-sans);
}

b, strong {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.iframeWrapper {
  position: relative; 
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  height: auto;
  iframe,
  object,
  embed,
  > div,
  video { 
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
}

.cta__btn {
  color: var(--colour-black-00);
  font-family: var(--anton);
  background-color: var(--colour-white-00);
  border-radius: 20px;
  text-transform: uppercase;
  border: none;
  padding: 4px 20px;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0;
  display: inline-block;
  /* cursor: pointer; */
  transition: all .15s ease;
  text-align: center;
  border: 2px solid var(--colour-white-00);
  &.active {
    background-color: var(--colour-green-01);
    color: var(--colour-black-03);
    border-color: var(--colour-green-01);
    box-shadow: 0 0.3em 0 0 var(--colour-black-03) !important;
  }
}
/* @media screen and (max-width: 991px) {
  .cta__btn {
    width: 100%;
    font-weight: 500;
    font-size: 16px;
  }
} */

.cta__btn--border {
  border: 2px solid var(--colour-black-03);
  background-color: var(--colour-blue-00);
}

.cta__btn:hover {
  /* background-color: rgba(255, 255, 255, .3); */
  /* color: var(--colour-white-00); */
  /* border: 2px solid var(--colour-white-00); */
  /* transform: translateY(-2px); */
  box-shadow: 
    0 0.3em 0 0 var(--colour-grey-06);
}

.cta__btn--border:hover {
  background-color: var(--colour-black-03);
  color: var(--colour-white-00);
  border: 2px solid var(--colour-black-03);
}
.cta__btn--transparent {
  background-color: transparent;
  border: 2px solid var(--colour-white-00);
  color: var(--colour-white-00);
}
.cta__btn--transparent:hover {
  background-color: var(--colour-green-01);
  /* color: var(--colour-black-03); */
  border-color: var(--colour-white-00);
}
.cta__btn--dark {
  background-color: var(--colour-black-03);
  border: 2px solid var(--colour-black-03);
  color: var(--colour-white-00);
}
.cta__btn--dark:hover {
  background-color: var(--colour-white-00);
  color: var(--colour-black-03);
  border-color: var(--colour-black-03);
}
.cta__btn--light {
  background-color: var(--colour-white-00);
  border: 2px solid var(--colour-white-00);
  color: var(--colour-black-03);
}
.cta__btn--light:hover {
  background-color: var(--colour-white-00);
  color: var(--colour-black-03);
  border-color: var(--colour-black-03);
}
.cta__btn--green {
  background-color: var(--colour-green-01);
  border: 2px solid var(--colour-green-01);
  color: var(--colour-black-03);
}
.cta__btn--green:hover {
  background-color: var(--colour-white-00);
  color: var(--colour-black-03);
  border-color: var(--colour-green-01);
}
.cta__btn--purple {
  background-color: var(--colour-purple);
  border: 2px solid var(--colour-purple);
  color: var(--colour-white-00);
}
.cta__btn--purple:hover {
  background-color: var(--colour-white-00);
  color: var(--colour-black-03);
  border-color: var(--colour-purple);
}
.cta__btn--blue {
  background-color: var(--colour-blue);
  border: 2px solid var(--colour-blue);
  color: var(--colour-white-00);
}
.cta__btn--blue:hover {
  background-color: var(--colour-white-00);
  color: var(--colour-black-03);
  border-color: var(--colour-blue);
}
.cta__btn--yellow {
  background-color: var(--colour-yellow);
  border: 2px solid var(--colour-yellow);
  color: var(--colour-black-03);
}
.cta__btn--yellow:hover {
  background-color: var(--colour-white-00);
  color: var(--colour-black-03);
  border-color: var(--colour-yellow);
}
.cta__btn-no-shadow {
  box-shadow: none !important;
}

.not-found-wrapper {
  background-color: var(--colour-black-03);
  color: var(--colour-white-00);
  min-height: 100vh;
  padding-top: 10rem;
  padding-bottom: 3rem;
}
.not-found-wrapper h1 {
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 20px;
}

.swiper {
  overflow: visible !important;
}
.swiper-pagination {
  bottom: -40px !important;
}
.swiper-pagination-bullet {
  border: 2px solid var(--colour-dark);
}
.swiper-pagination-bullet-active {
  border-color: var(--border-colour);
}