.pricingWrapper {
  padding-bottom: 3rem;
  @media screen and (min-width: 992px) {
    padding-bottom: 80px;
  } 
}

.pricingOption {
  h2 {
    font-size: 30px;
    @media screen and (min-width: 992px) {
      font-size: 30px;
    }
  }
  h3 {
    font-size: 60px;
    letter-spacing: 1px;
    @media screen and (min-width: 992px) {
      font-size: 70px;
      line-height: 65px;
      min-height: 90px;
      &.noMonth {
        font-size: 50px;
      }
    }
    span {
      font-size: 15px;
      @media screen and (min-width: 992px) {
        font-size: 20px;
      }
    }
  }
  ul {
    li {
      font-weight: 300;
      font-size: 15px;
    }
  }
  &Dark {
    background-color: var(--colour-grey-02);
    h2 {
      color: var(--colour-blue-00);
    }
    h3,
    h4,
    li {
      color: var(--colour-white-00);
    }
  }
  &Light {
    background-color: var(--colour-blue-00);
    h2 {
      color: var(--colour-white-00);
    }
    h3,
    h4 {
      color: var(--colour-black-03);
    }
  }
}

.pricingCardRow {
  h2 {
    line-height: 1.2;
    @media screen and (min-width: 992px) {
      max-width: 100px;
    }
  }
  h3 {
    @media screen and (min-width: 992px) {
      line-height: 1.2;
      min-height: auto;
    }
  }
  ul {
    @media screen and (min-width: 992px) {
      width: 50%;
      li {
        width: 50%;
      }
    }
    li {
      padding: 3px;
    }
  }
}