.branderContent {
    background-color: var(--colour-white-00);
    color: var(--colour-black-04);

    h2 {
        font-family: var(--open-sans);
        font-style: italic;
        letter-spacing: 1.2px;
        font-size: 30px;
        line-height: 40px;
        @media screen and (min-width: 992px) {
            font-size: 60px;
            line-height: 70px;
            
        }
    }

    h4 {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 14px;
    }

    h3 {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        @media screen and (min-width: 992px) {
            font-size: 30px;
            line-height: 40px;
            
        }
    }

    p,
    li {
        font-size: 18px;
        line-height: 30px;
    }

    .branderImage {
        img {
            transform: translateY(-100px);
            @media screen and (max-width: 991px) {
                margin-bottom: -120px;
            }
        }
    }

    .articleContentWrapper {
        gap: 3rem;
        @media screen and (min-width: 992px) {
            gap: 6rem;
        }
        .articleColumn {
            width: 100%;
            @media screen and (min-width: 992px) {
                width: 50%;
            }
        }
    }
}