.pricingOption {
    height: 100%;
    .pricingImage {
        min-height: 230px;
        figure {
            margin: 0;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    h2 {
        font-size: 50px;
    }
    p {
        font-size: 22px;
        font-weight: 500;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            padding-left: 30px;
            position: relative;
            line-height: 2;
            &:before {
                content: "";
                position: absolute;
                top: 10px;
                left: 0;
                width: 18px;
                height: 11px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                background-image: url('/images/icon-tick-light.svg');
            }
        }
    }
    &Dark {
        ul {
            li {
                &:before {
                    background-image: url('/images/icon-tick-dark.svg');
                }
            }
        }
    }
}